.coin-container {
  width: 100%;
  height: 30vh;
  position: relative;
}
#coin {
  width: 200px;
  height: 200px;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*アニメーション再生用*/
.coin-animation {
  width: 200px;
  height: 200px;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  /*コインの回転を早めるため0.01秒ごとにアニメーションを設定*/
  animation: frip 0.01s infinite;              
}
@keyframes frip {
  0% {
    top: 0;
    transform: rotateX(0deg);
  }
  100% {
    top: 0;
    transform: rotateX(360deg);
  }
}
#btn {
  width: 200px;
  height: 50px;
  position: absolute;
    top: 0;
    bottom: -300px;
    left: 0;
    right: 0;
    margin: auto;
}
#result {
  width: 200px;
  height: 200px;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*アニメーション時、結果を透明にする*/
.result-hide {
  opacity: 0;
}